.block
  .block-title
    +trailer()
    padding: 12px 0
    border-bottom: 1px solid $color-ci-pink

    .title-en, .title-tw
      display: inline-block
      @extend .gotham-bold-wz-shs
      +adjust-font-size-to(18px)
      letter-spacing: .1em

    .title-en
      color: $color-ci-pink

    .title-tw
      color: $color-ci-gray

    .title-en + .title-tw
      &:before
        content: "/"
        padding: 0 6px

  .block-content
    +pie-clearfix
