.block
  .block-title
    padding: 6px 0
    border-bottom: 2px solid $color-ci-pink

    .title-en, .title-ch
      display: inline-block
      @extend .shs-heavy
      +adjust-font-size-to(18px)

    .title-en
      color: $color-ci-pink

    .title-ch
      color: $color-ci-gray

    .title-en + .title-ch
      &:before
        content: "／"

  .block-content
    +pie-clearfix
