.footer
  padding: rhythm(3) 0 rhythm(3)
  background-color: #999
  text-align: center

  .footer-links
    +reset-box-model
    list-style: none
    +trailer(2)
    li
      +trailer(0.5)

  .footer-link
    +adjust-font-size-to(15px)

    color: #eee
    &:hover
      color: white

  .copyright
    +trailer(0)
    +adjust-font-size-to(13px)
    color: #bbb

  +at-breakpoint($pad)
    .footer-links
      +trailer(1)

      li
        display: inline-block
        margin: 0 12px

  +at-breakpoint($desktop)
    padding: rhythm(3) 0 rhythm(2)
