.footer
  position: relative
  z-index: 10
  padding: rhythm(3) 0
  text-align: center

  a
    color: rgba(white, .5)

    &:hover
      color: rgba(white, 1)
      text-decoration: none

  .footer-links
    +reset-box-model
    list-style: none
    +trailer(2)
    li
      +trailer(0.5)

  .footer-link
    +adjust-font-size-to(15px)

  .copyright
    +trailer(0)
    +adjust-font-size-to(13px)

  +at-breakpoint($pad)
    .footer-links
      +trailer(1)

      li
        display: inline-block
        margin: 0 12px

  +at-breakpoint($desktop)
    padding: rhythm(3) 0
