.header
  z-index: 1000
  padding: 16px 0
  background-color: $color-ci-black

  .logo
    display: block
    width: 52px
    height: 64px
    +hide-text()
    background: url("/images/logo.svg") center no-repeat
    +background-size(contain)