.introduce
  padding: rhythm(4) 0
  background-color: $color-ci-black-light

  .container
    max-width: 720px

  .intro-content-en, .intro-content-ch
    +box-sizing(border-box)

  // @include at-breakpoint($desktop)
  //   .intro-content-en, .intro-content-ch
  //     float: left
  //     width: 50%

  //   .intro-content-en
  //     padding: 24px 0 0 24px

  //   .intro-content-ch
  //     padding: 24px 24px 0 0