.live-program
  position: relative
  background: $color-ci-black url("/images/program1_bg_mobile.png") no-repeat center
  +background-size(cover)

  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    +background(linear-gradient(to bottom, rgba($color-ci-black, 0), rgba($color-ci-black, .1), rgba($color-ci-black, 1)))

  .container
    position: relative
    z-index: 1
    height: 90vh
    min-height: 460px
    max-height: 1000px

  .live-header
    position: absolute
    left: 8px
    top: 8px
    padding: 12px 0

    .logo
      width: 80px
      height: 80px
      +hide-text()
      background: url("/images/logo.svg") center no-repeat
      +background-size(contain)

  .program-info
    position: absolute
    left: 18px
    bottom: 0
    @extend .shs-heavy

    .program-number
      @extend .gotham-bold-wz-shs
      color: white
      +adjust-font-size-to(48px, 2)
      text-align: right

    .gray-number
      opacity: .5

    .pink-number
      color: $color-ci-pink

    .guest
      +adjust-font-size-to(18px, 1.5)
      color: $color-ci-pink

    .title
      +adjust-font-size-to(32px, 1.5)

    .time
      @extend .gotham-bold-wz-shs
      +adjust-font-size-to(16px, 1.5)
      color: $color-ci-gray

    .link
      +leader(.25)
      display: inline-block
      padding: 6px 12px
      color: white
      background-color: $color-ci-pink
      text-decoration: none


  @include at-breakpoint($pad)
    background: $color-ci-black url("/images/program1_bg.png") no-repeat center
    +background-size(cover)

    &:after
      background: rgba($color-ci-black, .25)

    .live-header
      left: 24px
      top: 24px

      .logo
        width: 128px
        height: 128px

    .program-info
      bottom: 5%
      left: auto
      right: 24px

      .program-number
        +adjust-font-size-to(96px, 4)

      .guest
        +adjust-font-size-to(21px, 1.5)

      .title
        +adjust-font-size-to(56px, 2.75)

      .time
        +adjust-font-size-to(18px, 1.5)

      .link
        +leader(.5)
        padding: 6px 18px
        +adjust-font-size-to(21px, 1.5)


  @include at-breakpoint($desktop)
    .program-info
      bottom: 5%
      right: 48px

      .program-number
        +adjust-font-size-to(128px)

      .guest
        +adjust-font-size-to(21px, 1.5)

      .title
        padding: 6px 0
        +adjust-font-size-to(56px, 2.75)

      .time
        +adjust-font-size-to(18px, 1.5)


  @include at-breakpoint($wide-desktop)
    .live-header
      left: 24px

      .logo
        width: 140px
        height: 140px

    .program-info
      bottom: 7.5%
      right: 24px

      .guest
        +adjust-font-size-to(27px, 1.5)

      .title
        +adjust-font-size-to(72px, 3.5)

      .time
        +adjust-font-size-to(21px)