.share-button
  span
    display: inline-block
    margin-right: 6px
    vertical-align: text-top
    +adjust-font-size-to(15px)

  .fb-share, .tweet
    +inline-block()

  .fb-share
    +replace-text-with-svg("icon-sns-share")
    width: 32px
    height: 32px
    margin-right: 3px
    background-position: 0 0
    +background-size(cover)

    &:hover
      background-position: 0 -32px

  .tweet
    +replace-text-with-svg("icon-sns-share")
    width: 32px
    height: 32px
    background-position: 0 -64px
    +background-size(cover)

    &:hover
      background-position: 0 -96px

  &.small
    span
      +adjust-font-size-to(12px)
    .fb-share
      width: 24px
      height: 24px

      &:hover
        background-position: 0 -24px

    .tweet
      width: 24px
      height: 24px
      background-position: 0 -48px

      &:hover
        background-position: 0 -72px

