.slider
  background-color: $color-ci-black
  overflow: hidden

.program-slider
  position: relative

  .slider-header
    position: absolute
    z-index: 2
    top: 18px
    left: 0
    right: 0
    text-align: right
    pointer-events: none

    .container
      max-width: 1120px

    .logo
      display: inline-block
      width: 62px
      height: 80px
      +hide-text()
      background: url("/images/logo.svg") center no-repeat
      +background-size(contain)

  .slider-for
    max-width: 1520px
    margin: 0 auto

    .slider-content
      position: relative
      background-position: center center
      +background-size(cover)

      &:before
        content: ""
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        +background(linear-gradient(to bottom, rgba($color-ci-black, 0), rgba($color-ci-black, .1), rgba($color-ci-black, 1)))

    .container
      position: relative
      max-width: 1120px
      min-height: 440px
      max-height: 720px
      height: 90vh

    .program-info
      position: absolute
      right: 12px
      bottom: 2.5%
      @extend .shs-heavy


      .guest
        +adjust-font-size-to(18px, 1.5)
        color: $color-ci-pink
        letter-spacing: 0.1em

      .title
        +adjust-font-size-to(30px, 1.5)
        color: white

      .time
        @extend .gotham-bold-wz-shs
        +adjust-font-size-to(16px, 1.5)
        color: $color-ci-gray

      .link
        +leader(.25)
        display: inline-block
        padding: 6px 12px
        @extend .shs-regular
        color: white
        background-color: $color-ci-pink
        text-decoration: none

      .program-number
        @extend .gotham-bold-wz-shs
        color: white
        +adjust-font-size-to(72px, 3)
        text-align: right

      .gray-number
        opacity: .5

      .pink-number
        color: $color-ci-pink
        opacity: 1

      .link + .program-number
        margin-top: -44px

  .slider-nav
    max-width: 1120px
    margin: 0 auto

    .slick-prev, .slick-next
      position: absolute
      top: 6px
      width: 38px
      height: 64px
      color: white
      background: transparent
      border: none

    .slick-prev, .slick-next
      +hide-text()
      opacity: .7
      +transition(opacity .25s)
      outline: none

      &:hover
        opacity: 1

    .slick-prev
      left: 0
      background: url("/images/slider-prev.svg") center no-repeat

    .slick-next
      right: 0
      background: url("/images/slider-next.svg") center no-repeat

    .slick-list
      margin: 6px 38px

    .slider-content
      position: relative
      margin: 6px
      height: 64px
      @extend .gotham-bold-wz-shs
      text-align: center
      font-size: 36px
      line-height: 64px
      cursor: pointer
      opacity: .25
      background-repeat: no-repeat
      background-position: center
      +background-size(cover)
      +transition(opacity .5s)

      .pink-number
        color: $color-ci-gray
        +transition(color .5s)

      .gray-number
        opacity: .5

      &:focus
        outline: none

      &.slick-current
        opacity: 1

        .pink-number
          color: $color-ci-pink


  @include at-breakpoint($pad)
    .slider-header
      top: 24px

      .logo
        width: 102px
        height: 128px

    .slider-for
      .slider-content:before
        background: rgba($color-ci-black, .25)

      .program-info
        bottom: 5%
        right: 24px

        .guest
          +adjust-font-size-to(21px, 1.5)

        .title
          +adjust-font-size-to(48px, 2.5)

        .time
          +adjust-font-size-to(18px, 1.5)

        .link
          +leader(.5)
          padding: 6px 18px
          +adjust-font-size-to(20px, 1.5)

        .program-number
          +adjust-font-size-to(96px, 4)

        .link + .program-number
          margin-top: -64px


  @include at-breakpoint($desktop)
    .slider-header
      top: 48px

    .slider-for
      .container
        min-height: 640px

      .program-info
        right: 48px

        .program-number
          +adjust-font-size-to(108px, 5)

    .slider-nav
      .slick-prev, .slick-next
        width: 70px
        height: 96px

      .slick-list
        margin: 6px 70px

      .slider-content
        height: 96px
        font-size: 64px
        line-height: 96px

  @include at-breakpoint($wide-desktop)
    .slider-header
      .logo
        width: 120px
        height: 156px

    .slider-for
      .program-info
        .title
          +adjust-font-size-to(56px, 2.75)

        .program-number
          +adjust-font-size-to(128px, 5.25)
