.slider
  background-color: $color-ci-black
  overflow: hidden

.program-slider

  .slider-for
    .slider-content
      position: relative
      background-position: center center
      +background-size(cover)

      &:before
        content: ""
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        +background(linear-gradient(to bottom, rgba($color-ci-black, 0), rgba($color-ci-black, .1), rgba($color-ci-black, 1)))

    .container
      position: relative
      min-height: 440px
      height: 85vh
      max-height: 900px

    .program-info
      position: absolute
      right: 12px
      bottom: 2.5%
      @extend .shs-heavy

      .program-number
        @extend .gotham-bold-wz-shs
        color: white
        +adjust-font-size-to(48px, 2)
        text-align: right

      .gray-number
        opacity: .5

      .pink-number
        color: $color-ci-pink
        opacity: 1

      .guest
        +adjust-font-size-to(18px, 1.5)
        color: $color-ci-pink

      .title
        +adjust-font-size-to(32px, 1.5)
        color: white

      .time
        @extend .gotham-bold-wz-shs
        +adjust-font-size-to(16px, 1.5)
        color: $color-ci-gray

  .slider-nav
    max-width: 960px
    margin: 0 auto

    .slick-prev, .slick-next
      position: absolute
      top: 6px
      width: 38px
      height: 64px
      color: white
      background: transparent
      border: none

    .slick-prev, .slick-next
      +hide-text()
      opacity: .7
      +transition(opacity .25s)
      outline: none

      &:hover
        opacity: 1

    .slick-prev
      left: 0
      background: url("/images/slider-prev.svg") center no-repeat

    .slick-next
      right: 0
      background: url("/images/slider-next.svg") center no-repeat

    .slick-list
      margin: 6px 38px

    .slider-content
      position: relative
      height: 64px
      margin: 6px
      @extend .gotham-bold-wz-shs
      text-align: center
      font-size: 36px
      line-height: 64px
      cursor: pointer
      opacity: .25
      background-repeat: no-repeat
      background-position: center
      +background-size(cover)
      +transition(opacity .5s)

      .pink-number
        color: $color-ci-gray
        +transition(color .5s)

      .gray-number
        opacity: .5

      &:focus
        outline: none

      &.slick-current
        opacity: 1

        .pink-number
          color: $color-ci-pink


  @include at-breakpoint($pad)
    .slider-for
      .slider-content:before
        background: rgba($color-ci-black, .25)

      .program-info
        bottom: 5%
        right: 24px

        .program-number
          +adjust-font-size-to(96px, 4)

        .guest
          +adjust-font-size-to(21px, 1.5)

        .title
          +adjust-font-size-to(56px, 2.75)

        .time
          +adjust-font-size-to(18px, 1.5)


  @include at-breakpoint($desktop)
    .slider-for
      .program-info
        bottom: 7.5%
        right: 48px

        .program-number
          +adjust-font-size-to(128px)

        .guest
          +adjust-font-size-to(21px, 1.5)

        .title
          padding: 6px 0
          +adjust-font-size-to(56px, 2.75)

        .time
          +adjust-font-size-to(18px, 1.5)

    .slider-nav
      .slick-prev, .slick-next
        width: 70px
        height: 96px

      .slick-list
        margin: 6px 70px

      .slider-content
        height: 96px
        font-size: 64px
        line-height: 96px