= javascript_include_tag \
  "https://code.angularjs.org/1.3.0/angular.js", \
  "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", \
  "controller", \
  "/vendor/dirPagination.js", \
  "/vendor/slick/slick.min.js", \
  "/vendor/bs.tab.js", \
  "/vendor/jquery.countdown.min.js", \
  "/vendor/moment.js", \
  "/vendor/moment-timezone.js", \
  "countdown", \
  "all"
