= javascript_include_tag \
  "https://code.angularjs.org/1.3.0/angular.js", \
  "controller", \
  "/vendor/dirPagination.js", \
  "/vendor/slick/slick.min.js", \
  "/vendor/jquery.waypoint.min.js", \
  "/vendor/jquery.countdown.min.js", \
  "/vendor/moment.js", \
  "/vendor/moment-timezone.js", \
  "countdown", \
  "all"
