meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
meta charset="utf-8"
meta name="viewport" content="width=device-width, initial-scale=1"

= stylesheet_link_tag "all", "/vendor/slick/slick.css"

/[if IE]
  = stylesheet_link_tag "ie"

/[if lt IE 9]
  = javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"

script src="https://use.typekit.net/qpp2joy.js"
javascript:
  try{Typekit.load({ async: true });}catch(e){}