= javascript_include_tag \
  "/vendor/slick/slick.min.js", \
  "/vendor/jquery.waypoint.min.js", \
  "/vendor/chartist/chartist.min.js", \
  "/vendor/jquery.countdown.min.js", \
  "/vendor/moment.js", \
  "/vendor/moment-timezone.js", \
  "countdown", \
  "all"
