- @page_name = "index"
= render "/partial/hero"
= render "/partial/introduce"
= render "/partial/show"
/ = render "/partial/live-program"
= render "/partial/team"

/ = render "/partial/index-countdown"