$text-color: white
$text-color-muted: $text-gray

$link-color: $color-blue-dark
$link-color-hover: darken($color-blue-dark, 20%)

// hr & divider
$divider-color: $color-gray-light

// blockquote
$blockquote-border-width: rhythm(0.125)
$blockquote-border-color: $color-gray-light
$blockquote-padding-left: rhythm(1) - $blockquote-border-width

// code area style variable
$code-bg-color: #f3f3f3
$code-scroll-shadow-color: #9f9f9f
$code-scroll-cover-size: 80px
$code-scroll-cover-position: 12.5%
$code-scroll-shadow-size: $code-scroll-cover-size * $code-scroll-cover-position / 100%
$code-scroll-shadow-weight: 0.3

+establish-baseline

// Establishes a font baseline for the given font-size.

%avenir
  font-family: "AvenirNext-DemiBoldItalic", "Avenir-HeavyOblique", "Arial", "PingFangTC-Light", "STHeitiTC-Light", sans-serif
  font-weight: 300
  font-style: normal

%helvetica
  font-family: "Helvetica Neue", "Helvetica", "Arial", "PingFangTC-Light", "STHeitiTC-Light","Microsoft JhengHei", sans-serif
  font-weight: 400
  font-style: normal

%code-font
  font-family: "Anonymous Pro", "Inconsolata", "Consolas Regular Font", "Monaco", "Courier New" ,MonoSpace
  font-weight: 400
  font-style: normal

%subpixel
  -webkit-font-smoothing: subpixel-antialiased

body
  @extend %helvetica
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  color: $text-color
  background-color: $color-ci-black

// heading
#{headings()}
  +reset-box-model

.article #{headings()}
  +trailer()

h1
  +adjust-font-size-to(32px, 1.5)

h2
  +adjust-font-size-to(24px, 1.25)

h3
  +adjust-font-size-to(18px, 1)

h4
  +adjust-font-size-to(16px, 1)

h5
  +adjust-font-size-to(15px, 0.875)

h6
  +adjust-font-size-to(13px, 0.75)

p
  +leader(0)
  +trailer(1)
  @extend %subpixel
  +adjust-font-size-to(16px)

// 引用他處文獻
blockquote
  +reset-box-model
  margin: rhythm(1) 0
  border-left: $blockquote-border-width solid $blockquote-border-color
  padding-left: $blockquote-padding-left
  color: $text-color-muted
  p
    +trailer(0.25)
  small
    +adjust-font-size-to(16px)
    color: $text-color
    display: block
    &:before
      content: '\2014 \00A0'

code
  @extend %code-font
  +adjust-font-size-to(13px, 0.75)
  padding: rhythm(0.125) rhythm(0.25)
  background-color: $code-bg-color
  white-space: nowrap

// code 示範區（具有陰影提示）
pre
  +leader(1)
  +trailer(1)
  code
    display: block
    padding: rhythm(1)
    @extend %code-scroll

%code-scroll
  overflow: auto
  white-space: pre
  -webkit-overflow-scrolling: touch
  background-image: linear-gradient(to right, $code-bg-color $code-scroll-cover-position, rgba($code-bg-color, 0)), linear-gradient(to right, rgba($code-bg-color, 0), $code-bg-color 100% - $code-scroll-cover-position), radial-gradient(0 50%, farthest-side, rgba($code-scroll-shadow-color, $code-scroll-shadow-weight), rgba($code-scroll-shadow-color, 0)), radial-gradient(100% 50%, farthest-side, rgba($code-scroll-shadow-color, $code-scroll-shadow-weight), rgba($code-scroll-shadow-color, 0))
  background-image: linear-gradient(to right, $code-bg-color $code-scroll-cover-position, rgba($code-bg-color, 0)), linear-gradient(to right, rgba($code-bg-color, 0), $code-bg-color 100% - $code-scroll-cover-position), radial-gradient(farthest-side at 0 50%, rgba($code-scroll-shadow-color, $code-scroll-shadow-weight), rgba($code-scroll-shadow-color, 0)), radial-gradient(farthest-side at 100% 50%, rgba($code-scroll-shadow-color, $code-scroll-shadow-weight), rgba($code-scroll-shadow-color, 0))
  background-repeat: no-repeat
  background-color: $code-bg-color
  background-size: $code-scroll-cover-size 100%, $code-scroll-cover-size 100%, $code-scroll-shadow-size 110%, $code-scroll-shadow-size 110%
  background-attachment: local, local, scroll, scroll
  background-position: left center, right center, left center, right center

// list
ol, ul
  +leader(1)
  +trailer(1)
  padding-left: 24px
  ol, ul
    margin: 0

dl
  +leader(1)
  +trailer(1)
  dt
    font-weight: bold
  dd
    margin: 0

// inline style
a
  +link-colors($link-color, $link-color-hover)
  +hover-link
  img
    border: none

.break-all
  +word-break(break-all)

// divider
hr, .divider
  +leader(1)
  +trailer(1)
  border-top: 1px solid $divider-color

img
  max-width: 100%
  +trailer(1)
