.talk

  .container
    +pie-clearfix

  .talk-title
    position: relative
    +pie-clearfix
    +leader(2)
    +trailer(1)
    margin-left: -2px

    .share
      position: absolute
      top: 0
      right: 0

    .program-number
      padding-right: 12px
      @extend .gotham-bold-wz-shs
      color: white
      +adjust-font-size-to(64px, 3)

    .gray-number
      opacity: .5

    .pink-number
      color: $color-ci-pink

    .program-content
      overflow: hidden
      @extend .shs-heavy

      .guest
        +adjust-font-size-to(18px, 1.5)
        color: $color-ci-pink
        letter-spacing: .1em

      .title
        +adjust-font-size-to(24px, 1.25)

  iframe
    box-sizing: border-box

  .talk-content
    +padding-leader()
    +padding-trailer(2)
    +trailer()

  .talk-data
    +pie-clearfix

  .polis-embed
    +padding-leader(3)
    +padding-trailer(4)
    background-color: rgb(247, 247, 247)

    iframe
      width: 100%
      border: none !important

  .bio
    h3
      +trailer(0.25)
      +adjust-font-size-to(16px)
      font-weight: normal
      @extend %subpixel

    ul
      margin-top: 0

  @include at-breakpoint($pad)
    .talk-content
      +padding-leader(2)

    .talk-title
      +leader(3)

      .program-number
        float: left
        +adjust-font-size-to(72px, 3.5)

      .program-content
        .guest
          +adjust-font-size-to(18px, 1.5)

        .title
          +adjust-font-size-to(32px, 1.5)


  @include at-breakpoint($desktop)
    .container
      position: relative

    .main-content
      +box-sizing(border-box)
      float: left
      width: 64%
      padding-right: 24px

      &.video
        padding-right: 0

      .block-title
        width: 98%

    .intro
      +adjust-font-size-to(24px, 1.75)
      max-width: 30em
      width: 98%
      p
        +adjust-font-size-to(24px, 1.75)
    .bio
      +adjust-font-size-to(15px, 1.25)
      p
        +adjust-font-size-to(15px, 1.25)

    .talk-title
      .share
        margin-top: .5em

    .side-content
      float: right
      width: 36%

      &.chat
        position: absolute
        top: 0
        right: 0
        bottom: 0

  @media (min-width: 1186px)
    .main-content
      width: 70%

    .side-content
      width: 30%