meta content= "台灣醫療崩壞，健保亂象如何解決？ - 政問 Talk To Taiwan" property="og:title"
meta content= data["site-name"] property="og:site_name"
meta content="http://talkto.tw/talk/01" property="og:url"

meta content="http://talkto.tw/ogimage-01.png" property="og:image"
meta content="台灣的醫療環境在健保制度下存在著許多問題，使醫療崩壞成現在進行式：血汗工廠、五大皆空、健保核刪、健保點數打折、缺藥潮都是崩壞的一環。曾經擔任第一線醫師的柯文哲市長，對於眼前台灣醫療環境所碰到的問題，提出他的看法。" property="og:description"

meta content= data["og-type"] property="og:type"
meta content= data["fb-admins"] property="fb:admins"
