meta content="面對經濟全球化時代，產業創新的挑戰，台灣的出路在哪裡？ - 政問 Talk To Taiwan" property="og:title"
meta content= data["site-name"] property="og:site_name"
meta content="http://talkto.tw/talk/03" property="og:url"

meta content="http://talkto.tw/ogimage-03.jpg" property="og:image"
meta content="1「產業升級」、「產業創新」、「產業轉型」，相信這幾個口號你一定不會陌生。政府的口喊了這麼多年，但台灣的產業不管是升級創新還是轉型，雖然有廠商成功轉型，卻無法擴展成局，帶領整個產業提昇規模。但你知道最近又有新的口號：「生產力4.0」甚至是朱立倫的「三弓四箭」出現嗎？全球化的浪潮下，各國為了提昇產業競爭力，紛紛提出21世紀的新工業革命：工業4.0。台灣雖然也看到了這股浪潮，緊接在2015年著提出「生產力4.0」計畫，但回顧1980年代到現在，台灣的產業升級了什麼，又失去了什麼，相信身在相關產業的人士一定「很有感」。難看的經濟成長率、下降的外部投資與人才流失，究竟台灣產業的出路在哪裡，如何面對全球化的競爭，且聽童子賢怎麼說！" property="og:description"

meta content= data["og-type"] property="og:type"
meta content= data["fb-admins"] property="fb:admins"
