.pagination
  +reset-box-model
  +padding-leader()
  +padding-trailer()
  list-style: none
  text-align: center

  li
    +pie-clearfix
    display: inline-block
    margin: 0 6px

    a
      position: relative
      display: block
      padding: 3px 12px
      color: $color-ci-gray
      text-decoration: none
      @extend .shs-bold
      +adjust-font-size-to(18px)
      +transition(color .25s)

      &:hover
        color: $color-ci-pink

        &.prev:before
          border-right-color: $color-ci-pink

        &.next:before
          border-left-color: $color-ci-pink

    .prev:before
      position: absolute
      left: -16px
      top: 7px
      content: ""
      border: 8px solid transparent
      border-right-color: $color-ci-gray
      +transition(border .25s)


    .next:before
      position: absolute
      right: -16px
      top: 7px
      content: ""
      border: 8px solid transparent
      border-left-color: $color-ci-gray
      +transition(border .25s)
