.pagination
  text-align: center
  margin: 24px 0
  padding: 0
  list-style: none
  a
    +unstyled-link
    display: block
    width: 30px
    height: 30px
    @extend .shs-heavy
    font-size: 18px
    line-height: 30px
    color: white
  li
    display: none
    margin: 0 3px 3px
    &.active, &.pre-btn, &.next-btn
      display: inline-block
    &.disabled,
    &.disabled:hover
      a
        border: none
        color: #ccc
        cursor: default
        pointer-events: none

  +at-breakpoint($pad)
    li
      display: inline-block
      a
        width: 42px
        font-size: 24px
        line-height: 48px
      a:hover
        color: $color-ci-pink
      &.active a
        color: $color-ci-pink
